{% extends "accounts/dashboard_base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/security_center.css' %}">

<section class="security-page">

    <div class="password-card">

        <div class="password-success">

            <div class="password-success-icon">
                ✓
            </div>

            <div class="security-heading">

                <h2>Password Updated</h2>

                <p>
                    Your Finbit account password has been changed
                    successfully.
                </p>

            </div>

            <a
                href="{% url 'security_center' %}"
                class="security-btn primary"
            >
                Return to Security Center
            </a>

        </div>

    </div>

</section>

{% endblock %}
